[Unit]
Description=Serve static files from /home/ubuntu/web (for certbot)
Requires=network.target

[Service]
User=root
WorkingDirectory=/home/ubuntu/web
ExecStart=python3 -m http.server 80
Restart=always

[Install]
WantedBy=multi-user.target
