<% extends "page.html" %><!-- vim:set noet sts=0 sw=2 ts=2 foldmethod=marker:-->

<% block body %>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<h2>Frequently Asked Questions</h2>

		<p lg-font>What is FusionScript?</p>
		<p>
			FusionScript is a C++, Python, and Lua inspired language written to
			provide an alternative syntax to Lua. The language (currently) compiles
			to Lua source and eventually might compile to Lua VM instructions or
			use a modified Lua VM. The language itself was originally designed by
			Ryan, and written during a month-long trip to San Francisco. Here are
			some more points over the language:
		</p>
		<ol>

			<li>
				<b>Dynamic Typing</b>: The (currently unofficial) standard library
				includes an assertion library that provides a type checking method,
				<code>assert.is()</code>. It can be used to check the VM type as well
				as whether a constructed table is an instance of a specific class (or
				classes it inherits values from) or whether it implements methods
				specified by an interface.
			</li>

			<li>
				<b>Classes and Interfaces</b>: The language, when compiled to Lua
				source, uses a wrapper method to create <code>class</code> objects that
				can be called to create an <i>instance</i>. Classes can inherit values
				and methods from other classes and use an <code>interface</code> to
				enforce that values implement certain methods.
			</li>

			<li>
				<b>Generators</b>: Coroutines that generate values (also called a
				<i>generator</i> or <i>iterator</i>) can be made easily by appending
				the keyword <code>async</code> before the function name, and return
				values using the keyword <code>yield</code>. FusionScript also has
				support for creating <i>array</i>- and <i>hashmap</i>-like tables using
				the values from an iterable object (<code>{x in y()}</code> and
				<code>{x = y for x, y in pairs(z)}</code>)
			</li>
		</ol>

		<hr />

		<p lg-font>Why was FusionScript written?</p>
		<p>
			The original author, Ryan, wanted a programming language that looked
			like C, had Python-like hashmap/array generation, and ran on the Lua
			VM. So, he wrote one. Also he wanted to be able to put it on his
			r&#xE9;sum&#xE9;.
		</p>

		<hr />

		<p lg-font>Why does FusionScript use a Lisp-like expression format?</p>
		<p>
			A big issue with a lot of math is that sometimes people forget what
			operator takes precedence over another operator. This way provides a
			completely logical way to always manually establish preceden-what? You
			heard it's cause Ryan was lazy? Pff. That's not at all possible.
		</p>

	</div>
</div>
<% endblock %>

<% block scripts %>
<% endblock %>
